*.pyc
.webassets-cache
.idea
celerybeat-schedule
env
local_settings.py
node_modules/
.DS_Store
.sass-cache
flask_session
.vscode 
.mypy_cache/
.history
celerybeat-schedule.db

# ignore the python egg-info folder after in case of installing the server as a package pip3 install -e .
*.egg-info
# ignore .pytest_cache folder
.pytest_cache
# Pytest report
report.xml
# ignore .tox folder
.tox
